<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 2rem;
      /* text-align: center; */
    }
  </style>
</head>
<body>
<% if (locals.name) { %>
  <h1><%= name %> SignUp</h1>
<% } %>
       <form method = "POST" action="/api/signup">
        <label>Enter your origin URL</label>
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="email" placeholder="email" />
        <input type="text" name="password" placeholder="password" />
        <button type="submit">Signup</button>
   
</div>

</body>
</html>
